.debug {
    border: 1px solid red;
}

.row {
    display: flex;
}

.column-50 {
    flex: 50%;
}

.column-25 {
    flex: 25%
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 8px;
}

.inline {
    display: inline;
}